.scrollPar{
    background-color: beige;
    width: 400px;
    height: 50vh;
    overflow-y: auto;
}
.scrollimpar{
    background-color:red;
    width: 400px;
    height: 50vh;
    overflow-y: auto;
}
