body{
    box-sizing: border-box;
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
    background-image: url(img/material-escolar1.jpg);
}
header{
    height: 80px;

}
#dentro{
    display: flex;
    flex-direction: row-reverse;
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}
